body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

uploadimgbtn {
}

.username-text-input {
  padding: 10px;
  margin: 10px 0;
}

.message-text-input {
}
