body {
  font-family: "Poppins", sans-serif;
 
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5dd9c1;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

header img {
  max-height: 12rem;
}

header h2 {
  margin: 0;
}

.create,
.submit-button,
.comment-section-submit-button,
.upvote-button,
.downvote-button,
.comment-button,
.delete-button {
  background-color: #190933;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.create:hover,
.submit-button:hover,
.comment-section-submit-button:hover,
.upvote-button:hover,
.downvote-button:hover,
.comment-button:hover,
.delete-button:hover {
  opacity: 0.5;
}

.container {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
}

.form {
  margin-bottom: 20px;
}

.textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.comment-section {
  margin-top: 20px;
  background-color: #665687;
  color: #fff;
}

.comment-section-header {
  margin-top: 0;
}

.comment-section-list {
  list-style-type: none;
  padding: 0;
}

.comment {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
}

.comment-text {
  margin: 0;
}

.comment-section-form {
  margin-top: 20px;
}

.message-div {
  background-color: #5dd9c180;
  border-radius: 1rem;
  padding-left: 1rem;

}

@media (max-width: 768px) {
  .message-div {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    background-color: #5dd9c180;
  }

  .username-text,
  .user-message,
  .upvote-button,
  .downvote-button,
  .comment-button,
  .delete-button {
    width: 100%;
    margin: 5px 0;
  }

  .upvote-button,
  .downvote-button,
  .comment-button,
  .delete-button {
    margin-top: 10px;
  }

  header {
    flex-direction: column;
  }
}
